{% extends 'layouts/base.twig' %}

{% block content %}

	<section
		class="border-black border-b pb-10">

		{# For using content from the front page: {{ home_page.content }} #}

		<div class="md:grid grid-cols-2 gap-5">
			<div>
				<p>custom website starter</p>
			</div>

			<div>
				<p>see <a class="underline" href="{{ temp_dir_uri }}/README.md">README.md</a></p>
			</div>
		</div>

	</section>

	<section class="pt-5">
		{% for post in posts %}
			<p>
				<a class="underline" href="{{ post.link }}">{{ post.title }}</a>
			</p>
		{% endfor %}

    {% for project in projects %}
			<p>
				<a class="underline" href="{{ project.link }}">{{ project.title }}</a>
			</p>
		{% endfor %}
	</section>

  {#{% include 'partials/pagination.twig' with {
        pagination: posts.pagination({
            show_all: false,
            mid_size: 3,
            end_size: 2
        })
    } %}#}
    

{% endblock %}
